body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color:#1565C0;
    text-align:center;
}

h2{
    color:#0D47A1;
}

p{
    line-height:1.8;
    color:#555;
}

ul li{
    margin:10px 0;
    font-size:18px;
}

.btn{
    display:inline-block;
    margin-top:20px;
    padding:12px 25px;
    background:#1565C0;
    color:white;
    text-decoration:none;
    border-radius:8px;
}

.btn:hover{
    background:#0D47A1;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
}
