*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    color:#fff;
    background:url("12.jpg") center center/cover no-repeat fixed;
}

/* HEADER */

.header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:15px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(0,0,0,.45);
    backdrop-filter:blur(12px);
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo img{
    width:65px;
    height:65px;
    border-radius:50%;
    box-shadow:0 0 20px #00d4ff;
}

.logo h1{
    font-size:34px;
    color:#00d4ff;
}

.logo p{
    font-size:15px;
    color:#ddd;
}

nav{
    display:flex;
    gap:25px;
}

nav a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
    transition:.3s;
}

nav a:hover{
    color:#00d4ff;
}

/* HERO */

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
    background:rgba(0,0,0,.45);
}

.overlay{
    max-width:850px;
}

.overlay h1{
   
